<h1>Stupid coaching</h1>
<p><strong>@question</strong> : <%=@question%></p>
<p><strong>The coach's answer is :</strong> : <%=@answer%></p>

<a href="http://localhost:3000/ask?question=">Ask a new question</a>

